<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Select Date</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Book From</span>
    <ionic-datepicker input-obj="bookFromObject">
    <button class="button button-block button-positive" > {{bookFrom | date:'dd - MMMM - yyyy'}}</button>
    </ionic-datepicker>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Book Until</span>
    <ionic-datepicker input-obj="bookToObject">
            <button class="button button-block button-positive"> {{bookTo | date:'dd - MMMM - yyyy'}}</button>
    </ionic-datepicker>
  </label>
  </ion-content>
</ion-modal-view>