<ion-view hide-nav-bar="true">
  <ion-content class="front center">
  
  	<div class="row">
  		<div class="col">
  			<button ng-click="openModal(2)" class="button button-outline button-royal button-frontpage">
	  			Become Carrier
			</button>
  		</div>
  	</div>

  	<div class="row">
  		<div class="col">
  			<button ng-click="openModal(1)" class="button button-outline button-royal button-frontpage">
	  			Sign In
			</button>
  		</div>
  	</div>
	
	<div class="row ng-hide">
		<div class="col">
			<a ui-sref="app.trucklists">
				<button class="button button-outline button-royal button-frontpage">
			  		Explore
				</button>
		  	</a>
		</div>
	</div>
  	
  
  </ion-content>
</ion-view>

