<ion-view view-title="Manage Trucks">
  <ion-content>
  	<ion-list can-swipe="listCanSwipe">
      <ion-item class="item item-thumbnail-left" ng-repeat="userTruck in userTrucks | filter: { owner: userID}" href="#/app/trucklists/{{userTruck.$id}}/{{userTruck.owner}}">     
	      <img src="{{userTruck.trucksimg}}">
	      <h2> {{userTruck.brands}}</h2>
	      <p>${{userTruck.tripRate}} / trip</p><br>
        <h3><i class="icon ion-location"></i> {{userTruck.loc}}</h3>
		  <ion-option-button class="button-assertive" ng-click="userTrucks.$remove(userTruck)">
	      	Delete
	      </ion-option-button>
	      <ion-option-button class="button-info" ng-click="editTrucks(userTruck)">
      		Edit
		  </ion-option-button>

      </ion-item>
    </ion-list>
    <center><p>swipe to delete/edit</p></center>
  </ion-content>
</ion-view>
<ion-tabs class="tabs-royal tabs-icon-top">
  <ion-tab title="Add New Trucks" icon="ion-plus-circled" ng-click="openModal(1)"></ion-tab>
</ion-tabs>