<ion-view view-title="Move It">
  <ion-content>
  	<ion-list can-swipe="listCanSwipe">
      <ion-item class="item item-thumbnail-left" ng-repeat="userTruck in userTrucks | filter: { owner: userID}" href="#/app/trucklists/{{userTruck.$id}}">     
	      <img src="{{userTruck.trucksimg}}">
	      <h1> {{userTruck.brands}}</h1>
	      <p>${{userTruck.drate}} / Day</p>
		  <ion-option-button class="button-assertive" ng-click="userTrucks.$remove(userTruck)">
	      	Delete
	      </ion-option-button>
	      <ion-option-button class="button-info" ng-click="">
      		Edit
		  </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
<ion-tabs class="tabs-royal tabs-icon-top">
  <ion-tab title="Add New Trucks" icon="ion-plus-circled" ng-click="modal.show()">
   
  </ion-tab>
</ion-tabs>