<ion-view view-title="Move It">
  <ion-content>
  	<div class="list card">
		<div class="item">
			<h2>{{trucklist.brands}}</h2>
			<p>${{trucklist.drate}} / Day</p>
		</div>
		<div class="item item-body">
			<img class="full-image" src="{{trucklist.trucksimg}}">
			<p>
				{{trucklist.desc}}
			</p>
			<p>
				<label>Additional Rate</label>
				<a href="#" class="subdued">Rates {{trucklist.dmile}} / miles</a>
			</p>
			<p>
				<a href="#" class="subdued">Available from {{trucklist.avafrom | date:'dd-MM-yy'}} to {{trucklist.avauntil | date:'dd-MM-yy'}}</a>
			</p>
			<p><bold>Tenant: {{user.displayName}}</bold></p>
			<pre>{{trucklists.indexOf(trucklist)}}</pre>
		</div>
		<div class="item tabs tabs-secondary tabs-icon-left">
			<a class="tab-item" href="tel: {{user.phone}}">
				<i class="icon ion-ios-telephone"></i>
				Call Tenant
			</a>
			<!--<a class="tab-item" ng-click="addFav(true,{{trucklists.indexOf(trucklist)}})">
				<i class="icon ion-ios-bookmarks"></i>
			</a>-->
			<a class="tab-item" ng-click="addFav(trucklist)">
				<i class="icon ion-heart"></i>
				Add to Favorite
			</a>
		</div>
	</div>

  </ion-content>
</ion-view>
