<ion-modal-view>
<ion-header-bar class="bar bar-header bar-positive">
  <h1 class="title">Change Password</h1>
    <button class="button button-clear button-primary" ng-click="closeModal(2)">Cancel</button>
  </ion-header-bar>
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Trucks Photo</span>
        <button class="button button-positive" ng-click="getImage()">
            Get Image
        </button>
      </label>
      <label class="item item-input item-stacked-label">
          <img ng-src="{{trucks.selectedImage}}" style="width:200px; height: 200px;"/></div>
      </label>
      <label class="item item-input item-stacked-label">
        <input type="text" placeholder="Trucks Brand" ng-model="trucks.Brand">
      </label>
      <label class="item item-input item-stacked-label">
        <input type="number" placeholder="Max Renting Time " ng-model="trucks.maxHour">
      </label>
      <label class="item item-input item-stacked-label">
        <input type="number" placeholder="Rates per Trip in Rp" ng-model="trucks.tripRate">
      </label>
      <label class="item item-input item-stacked-label">
        <input type="number" placeholder="Add Rates per Hour in Rp" ng-model="trucks.hourRate">
      </label>
      <label class="item item-input item-stacked-label">
        <input type="number" placeholder="Add Services per Porter Rates in Rp" ng-model="trucks.porterRate">
      </label>
      <label class="item item-input item-stacked-label">
        <input type="text" placeholder="Location" ng-model="trucks.Loc">
      </label>
      <label class="item item-input item-stacked-label">
        <textarea placeholder="Add your trucks specification here" rows="5" ng-model="trucks.Desc"></textarea>
      </label>
      <button class="button button-block button-outline button-royal" ng-click="updateTrucks(trucks)">
        Update Trucks
      </button>
    </div>
  </ion-content>
</ion-modal-view>